<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>CelestialUI Admin</title>
    <!-- base:css -->
    <link
      rel="stylesheet"
      href="/assets/vendors/typicons.font/font/typicons.css"
    />
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
<style>
    .file{
        background-color: white;
    }
</style>

  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row  shadow ">
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center bg-light"
        >
          <!-- <a class="navbar-brand brand-logo" href="../../index.html"
            ><img src="assets/images/logo.svg" alt="logo"
          /></a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html"
            ><img src="assets/images/logo-mini.svg" alt="logo"
          /></a> -->
          <h4> <strong style="color: brown;">WINKEL</strong>  fashion World</h4>
          <!-- <button
            class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex"
            type="button"
            data-toggle="minimize"
          >
            <span class="typcn typcn-th-menu"></span>
          </button> -->
        </div>
        <div
          class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
        >
          <ul class="navbar-nav mr-lg-2">
            <!-- <li class="nav-item d-none d-lg-flex">
              <a class="nav-link" href="#"> Calendar </a>
            </li>
            <li class="nav-item d-none d-lg-flex">
              <a class="nav-link active" href="#"> Statistic </a>
            </li>
            <li class="nav-item d-none d-lg-flex">
              <a class="nav-link" href="#"> Employee </a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item d-none d-lg-flex mr-2">
              <a class="nav-link" href="#"> Help </a>
            </li> -->
            <li class="nav-item dropdown d-flex">
              <a
                class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
                id="messageDropdown"
                href="#"
                data-toggle="dropdown"
              >
                <i class="typcn typcn-message-typing"></i>
                <span class="count bg-success">2</span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="messageDropdown"
              >
                <p class="mb-0 font-weight-normal float-left dropdown-header">
                  Messages
                </p>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img
                      src="assets/images/faces/face4.jpg"
                      alt="image"
                      class="profile-pic"
                    />
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-normal">
                      David Grey
                    </h6>
                    <p class="font-weight-light small-text mb-0">
                      The meeting is cancelled
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img
                      src="assetsimages/faces/face2.jpg"
                      alt="image"
                      class="profile-pic"
                    />
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-normal">
                      Tim Cook
                    </h6>
                    <p class="font-weight-light small-text mb-0">
                      New product launch
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img
                      src="assets/faces/face3.jpg"
                      alt="image"
                      class="profile-pic"
                    />
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-normal">
                      Johnson
                    </h6>
                    <p class="font-weight-light small-text mb-0">
                      Upcoming board meeting
                    </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown d-flex">
              <a
                class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                id="notificationDropdown"
                href="#"
                data-toggle="dropdown"
              >
                <i class="typcn typcn-bell mr-0"></i>
                <span class="count bg-danger">2</span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="notificationDropdown"
              >
                <p class="mb-0 font-weight-normal float-left dropdown-header">
                  Notifications
                </p>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="typcn typcn-info-large mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">
                      Application Error
                    </h6>
                    <p class="font-weight-light small-text mb-0">Just now</p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="typcn typcn-cog mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                    <p class="font-weight-light small-text mb-0">
                      Private message
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="typcn typcn-user-outline mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">
                      New user registration
                    </h6>
                    <p class="font-weight-light small-text mb-0">2 days ago</p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item nav-profile dropdown">
              <a
                class="nav-link dropdown-toggle pl-0 pr-0"
                href="#"
                data-toggle="dropdown"
                id="profileDropdown"
              >
                <i class="typcn typcn-user-outline mr-0"></i>
                <span class="nav-profile-name" style="color: red; font-weight: 800;" >Sooraj Hari</span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown"
                aria-labelledby="profileDropdown"
              >
                <a class="dropdown-item">
                  <i class="typcn typcn-cog text-primary"></i>
                  Settings
                </a>
                <a class="dropdown-item">
                  <i class="typcn typcn-power text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            data-toggle="offcanvas"
          >
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger">
            <i class="typcn typcn-cog-outline"></i>
          </div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <div class="d-flex sidebar-profile">
                <!-- <div class="sidebar-profile-image">
                  <img src="../../images/faces/face29.png" alt="image" />
                  <span class="sidebar-status-indicator"></span>
                </div> -->
                <div class="sidebar-profile-name">
                  <p class="sidebar-name">Sooraj Hari</p>
                  <p class="sidebar-designation">Welcome</p>
                </div>
              </div>
              <div class="nav-search">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Type to search..."
                    aria-label="search"
                    aria-describedby="search"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="search">
                      <i class="typcn typcn-zoom"></i>
                    </span>
                  </div>
                </div>
              </div>
              <p class="sidebar-menu-title">Dash menu</p>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/admindashboard">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title"
                  >Dashboard
                  <span class="badge badge-primary ml-3">New</span></span
                >
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="/admin/category"
                aria-expanded="false"
                aria-controls="ui-basic"
              >
                <i class="typcn typcn-briefcase menu-icon"></i>
                <span class="menu-title">Category</span>
                <!-- <i class="typcn typcn-chevron-right menu-arrow"></i> -->
              </a>
              <div class="collapse" id="ui-basic">
               
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="/admin/product"
                aria-expanded="false"
                aria-controls="form-elements"
              >
                <i class="typcn typcn-film menu-icon"></i>
                <span class="menu-title">Products</span>
                
              </a>
              
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="/admin/user"
                aria-expanded="false"
                aria-controls="charts"
              >
                <i class="typcn typcn-chart-pie-outline menu-icon"></i>
                <span class="menu-title">Users</span>
              
              </a>
              
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="/admin/orderadmin"
                aria-expanded="false"
                aria-controls="tables"
              >
                <i class="typcn typcn-th-small-outline menu-icon"></i>
                <span class="menu-title">Orders</span>
                
              </a>
             
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="/admin/coupon"
                aria-expanded="false"
                aria-controls="icons"
              >
                <i class="typcn typcn-compass menu-icon"></i>
                <span class="menu-title">Coupons</span>
              
              </a>
             
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="/admin/banner"
                aria-expanded="false"
                aria-controls="auth"
              >
                <i class="typcn typcn-user-add-outline menu-icon"></i>
                <span class="menu-title">Banners</span>
                
              </a>
             
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="/admin/return"
                aria-expanded="false"
                aria-controls="error"
              >
                <i class="typcn typcn-globe-outline menu-icon"></i>
                <span class="menu-title">Returns</span>
              
              </a>
          
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/admin/offer"
              >
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">Offers</span>
              </a>
            </li>
          </ul>
         
        </nav>

        <section class="container p-4">
          <form action="/admin/addbanner" method="post" enctype="multipart/form-data">
          <div class="container bg-light shadow-sm mt-4" style=" border-radius: 14px; height: 42em;">
              <div class="row p-5 " >
                <% if (locals.message) { %>
                  <div class="alert alert-danger my-5"
                   style="display: flex; justify-content: center; width:100%; color: rgb(212, 0, 0);" role="alert">
                    <span><%= message %></span>
                  </div>
                <% } %>
                
                <div class="col-md-6">
                  <h3 class="mr-3 " style="color:gray;font-size: medium;">Title</h3>
                <input class="shadow" type="text" style="width: 90%; height: 40px; border-radius: 5px; " name="title" value="">
                </div>
                <!-- addproduct.ejs -->
                
<!-- Rest of the addproduct form -->

                <div class="col-md-6">
                  <h3 class="mr-3 " style="color:gray;font-size: medium;">Button</h3>
                <input class="shadow" type="text" style="width: 90%; height: 40px;  border-radius: 5px;" name="button" value="">
               
                </div>
                <!-- <div class="col-md-6 mt-4">
                    <h3 class="mr-3" style="color:gray;font-size: medium;">Text</h3>
                  <input class="" type="text" style="width: 90%; height: 40px;  border-radius: 5px;" name="category" value="">
                 
                  <select id="category" name="text" class="form-select fw-bold shadow  border border-dark" style="width: 90%; height: 40px; border: 5PX;"  required>
                    <option selected>Choose...</option> 
                    
                         <option value="" class="fw-bold"> </option>
                     
                  </select>
                  </div> -->
                  


                  <div class="col-md-6 mt-4">
                    <h3 class=" " style="color:gray;font-size: medium;">Expiry Date</h3>
                  <input class="shadow" type="date" style="width: 90%; height: 40px;  border-radius: 5px;" name="ExpiryAt" value="" required>
                 
                  </div>

                  <div class="col-md-6 mt-4">
                    <h3 class="mr-3" style="color:gray;font-size: medium;">Text</h3>
                  <input class="shadow" type="text" style="width: 90%; height: 40px;  border-radius: 5px;" name="text" value="" required>
                 
                  </div>
                  <!-- <div class="col-md-6 mt-4">
                    <h3 class="mr-3" style="color:gray;font-size: medium;">Stock</h3>
                  <input class="shadow" type="number" style="width: 90%; height: 40px;  border-radius: 5px;" name="Stock" value="">
                 
                  </div> -->
                  <div class="col-md-12 mt-4">
                    <h3 class="mr-3" style="color:gray;font-size: medium;">Description</h3>
                  <input class="shadow" type="text" style="width: 90%; height: 90px;  border-radius: 5px;" name="description" value="" required>
                 
                  </div>

                  <div class="col-md-4 mt-4 ">
                   

                    <h3 class="" style="color:gray;font-size: medium;">image</h3>
                    <input type="file" style="width: 70%; height: 30px;"  name="image" multiple  class="border border-dark file "  required>
                  </div>
    
                  <div class="col-md-12 mt-4  ">
                    <button class="btn btn-success mt-2 mx-2" type="submit">Add Product</button>
                  </div>
                
              </div>
             
          </div>
          </form>
         
        </section>

      </div>
<style>

</style>

      </body>

</html>